src/*.exe
src/ppcoin
src/ppcoind
src/test_ppcoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ppcoin
#compilation and Qt preprocessor part
*.qm
Makefile
ppcoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
*.plist
*.xcodeproj
PortIndex*
dist
*.app
*.dmg
Makefile.Debug
Makefile.Release
object_script.peercoin-qt.Debug
object_script.peercoin-qt.Release
release.zip
release/libgcc_s_dw2-1.dll
release/libstdc++-6.dll
release/mingwm10.dll
release/peercoin-qt.exe
release/QtCore4.dll
release/QtGui4.dll
release/QtNetwork4.dll
